*{
    margin: 0;
    padding: 0;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px 0;
    border: none;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 20px;
}
.input-box img{
    width: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}